:root {
    --color-primario: #E5E5E5;
    --color-segundario: white;
    --color-terceario: #002366;
    --color-cuartario: #333;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--color-primario);
}

.fa-user-secret {
    color: var(--color-terceario);
    font-size: 1.5rem;
    padding: 10px 15px 5px;
}

.contenido {
    font-family: Arial, sans-serif;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Para mejorar la disposición en pantallas pequeñas */
}

.contenido_encriptador {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    margin: 20px;
    flex-direction: column;
    /* Para mejorar la disposición en pantallas pequeñas */
    align-items: center;
    /* Centra los elementos */
}

.input-section {
    padding: 20px;
    flex: 2;
    width: 100%;
    /* Para tomar el ancho completo en pantallas pequeñas */
    box-sizing: border-box;
    /* Para incluir el padding en el cálculo del ancho */
}

.logo {
    height: 40px;
}

#inputTexto {
    width: 100%;
    height: 30dvh;
    color: var(--color-terceario);
    font-size: 1rem;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#inputTexto:focus {
    outline: none;
}

#inputTexto::placeholder {
    color: var(--color-terceario);
    font-size: 1rem;
}

.note {
    margin: 10px 0;
    color: #555;
    font-size: 12px;
}
#outputMostrarMensaje{
    margin: 10px 0;
    color: #555;
    font-size: 12px;
    background-color: var(--color-segundario);
}

.buttons {
    display: flex;
    gap: 10px;
    /* Reduce el gap para pantallas pequeñas */
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que los botones se envuelvan en múltiples líneas */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-encrypt {
    background-color: #002366;
    color: #fff;
}

.btn-decrypt {
    background-color: #f0f0f0;
    color: var(--color-cuartario);
}

.output-section {
    width: 100%;
    height: auto;
    padding: 20px;
    flex: 1;
    background-color: var(--color-segundario);
    box-shadow: 0 4px 6px #00000008;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    box-sizing: border-box;
}

.output-section img {
    max-width: 80%;
    padding: 5px;
    margin-bottom: 20px;
    background-color: var(--color-segundario);
}

#outputMensaje {
    font-size: 1.5rem;
    color: var(--color-cuartario);
    text-align: center;
    background-color: var(--color-segundario);
}

/* Media Queries */
@media (min-width: 600px) {
    #inputTexto {
        font-size: 20px;
    }

    .buttons {
        gap: 20px;
    }
}

@media (min-width: 900px) {
    .contenido {
        flex-direction: row;
    }

    .contenido_encriptador {
        flex-direction: row;
    }

    .input-section {
        width: auto;
        /* Ajusta el ancho para pantallas grandes */
    }

    .output-section {
        width: 400px;
        /* Ajusta el ancho para pantallas grandes */
        height: 80vh;
        /* Ajusta la altura para pantallas grandes */
    }

    #inputTexto {
        width: 90vh;
        /* Ajusta el ancho para pantallas grandes */
        height: 60vh;
        /* Ajusta la altura para pantallas grandes */
        font-size: 32px;
        /* Ajusta el tamaño de fuente para pantallas grandes */
    }

    #inputTexto::placeholder {
        font-size: 32px;
        /* Ajusta el tamaño de fuente del placeholder para pantallas grandes */
    }

    .buttons {
        gap: 30px;
        /* Ajusta el gap para pantallas grandes */
    }
}